h1 {
    color: #8b4513;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
  }
body {
    background-color:  #ffe4e1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
h2 {
    color: #d2b48c;
}
img {
  border: 10px inset rgb(240,128,128);
  float: none;
  margin-right: 2em;
}
aside {
  background:#ff7f50;
  border: 2px dotted brown;
  float: inherit;
  padding: 0.5em;
  border-radius: 4px;
}
header nav li a {
  background-color:#f4a460;
  border: 2px solid #d2691e;
  color: rgb(6, 6, 6);
  display: inline-block;
  padding: 1em;
  text-decoration:underline;
}

header nav li a:hover {
  background-color: #d2691e;
}

